*{
    padding: 0;
    margin:0 ;
    box-sizing: border-box;
    font-family: sans-serif;

}
:root{
    --bg-color:#fee7c5;
    --primary:#ff912b;
    --duu:#857023;
    --secondary:#2f2105;
    --accents:#f9d9aa;
    --light:#7e7d7a;

}
.price{
    background-image:url(../../images/1623f2169d0c0aebf17aa24f44fda736.jpg) ;
    background-repeat: unset;
    backface-visibility: hidden;
    width: 45%;
    height: 300px;
    margin-top: 100px;
    margin-left: 400px;
    margin-bottom: 130px;
    text-align: center;
    color: #FFF;
    padding-right: 40px;
    padding-top: 60px;
    border: 3px solid #e0ba6d;
    border-radius: 30px;
}
.price .mail{
    position: relative;

}
.price .mail input{
    width: 50%;
    height: 25px;
    padding: 30px;
    margin-top: 50px;
    font-size: 1rem;
    border: none;
    outline: none;
    border-radius: 30px;
}
.price .mail a{
    text-decoration: none;
    background-color: var(--secondary);
    color: #fff;
    padding: 10px 20px;
    border-radius: 30px;
    position: absolute;
    right: 150px;
    top: 63px;
}
@media screen and (max-width: 768px) {
    .price{
        background-image:url(../../images/1623f2169d0c0aebf17aa24f44fda736.jpg) ;
        background-repeat: unset;
        backface-visibility: hidden;
        width: 90%;
        height: 250px;
        margin-top: 100px;
        margin-left: 20px;
        margin-bottom: 130px;
        text-align: center;
        color: #FFF;
        padding-right: 20px;
        padding-top: 60px;
        border: 3px solid #e0ba6d;
        border-radius: 30px;
    }
    .price .mail input{
        width: 80%;
        height: 25px;
        padding: 18px 90px;
        margin-top: 30px;
        font-size: 1rem;
        border: none;
        outline: none;
        border-radius: 30px;
    }
    .price .mail a{
        text-decoration: none;
        background-color: var(--secondary);
        color: #fff;
        padding: 11px 30px;
        border-radius: 30px;
        position: absolute;
        left: 215px;
        top: 30px;
        font-size: 10px;
        visibility: hidden;
    }  
}

@media screen and (max-width: 350px) { 
    .price{
        background-image:url(../../images/1623f2169d0c0aebf17aa24f44fda736.jpg) ;
        background-repeat: unset;
        backface-visibility: hidden;
        width: 90%;
        height: 250px;
        margin-top: 100px;
        margin-left: 20px;
        margin-bottom: 130px;
        text-align: center;
        color: #FFF;
        padding-right: 20px;
        padding-top: 60px;
        border: 3px solid #e0ba6d;
        border-radius: 30px;
    }
    .price .mail input{
        width: 90%;
        height: 25px;
        padding: 18px 90px;
        margin-top: 10px;
        font-size: 1rem;
        border: none;
        outline: none;
        border-radius: 30px;
    }
    .price .mail a{
        text-decoration: none;
        background-color: var(--secondary);
        color: #fff;
        padding: 7px 10px;
        border-radius: 30px;
        position: absolute;
        right:50px;
        top: 13px;
        margin-left: 20px;
    }
 }