*{
    padding: 0;
    margin:0 ;
    box-sizing: border-box;
    font-family: sans-serif;

}
:root{
    --bg-color:#fee7c5;
    --primary:#ff912b;
    --duu:#857023;
    --secondary:#2f2105;
    --accents:#f9d9aa;
    --light:#7e7d7a;

}
.footer{
    background-color:var(--accents);
    border-top: 2px solid rgba(0, 0, 0, 0.1);
}
.footer__container{
    padding: 2rem 0 6rem;
    display: block;
}
.footer__title,
.footer__link {
color: var(--title-color);
}
.footer__title{
    text-align: center;
}
.footer__link:hover {
   color: var(--primary);
}
.footer__list a{
    text-decoration: none;
}

.footer__list{
    display:flex;
    justify-content: center;
    column-gap: 4.25rem;
    margin-top: 40px;
    list-style: none;
}
.footer__copy{
    display: block;
    margin-top: 2.5rem;
    color: var(--title-color);
    text-align: center;
    font-size: var(--small-font-size);
}
@media screen and (max-width:768px) { 
    .footer{
        width: 378%;
        background-color:var(--accents);
        border-top: 2px solid rgba(0, 0, 0, 0.1);
    }  
    .footer__copy{
        display: block;
        margin-top: 2.5rem;
        color: var(--title-color);
        text-align: center;
        font-size:  30px;
    }
    .footer__list{
        font-size: 35px;
        display:flex;
        justify-content: center;
        column-gap: 4.25rem;
        margin-top: 40px;
        list-style: none;
    }
    .footer__title{
        text-align: center;
        font-size: 38px;
    }
}
@media screen and (max-width:1024px) {
    .footer{
        width: 378%;
        background-color:var(--accents);
        border-top: 2px solid rgba(0, 0, 0, 0.1);
    }  
    .footer__copy{
        display: block;
        margin-top: 2.5rem;
        color: var(--title-color);
        text-align: center;
        font-size:  60px;
    }
    .footer__list{
        font-size: 65px;
        display:flex;
        justify-content: center;
        column-gap: 4.25rem;
        margin-top: 40px;
        list-style: none;
    }
    .footer__title{
        text-align: center;
        font-size: 88px;
    }

 }
@media screen and (max-width: 350px) { 
    .footer{
        width: 378%;
        background-color:var(--accents);
        border-top: 2px solid rgba(0, 0, 0, 0.1);
    }  
    .footer__copy{
        display: block;
        margin-top: 2.5rem;
        color: var(--title-color);
        text-align: center;
        font-size:  30px;
    }
    .footer__list{
        font-size: 35px;
        display:flex;
        justify-content: center;
        column-gap: 4.25rem;
        margin-top: 40px;
        list-style: none;
    }
    .footer__title{
        text-align: center;
        font-size: 38px;
    }
}

