*{
    padding: 0;
    margin:0 ;
    box-sizing: border-box;
    font-family: sans-serif;

}
:root{
    --bg-color:#fee7c5;
    --primary:#ff912b;
    --duu:#857023;
    --secondary:#2f2105;
    --accents:#f9d9aa;
    --light:#7e7d7a;

}
#menu{
padding: 50px 0;
margin: 30px 0;
}
#menu .under{
    border-bottom: 3px solid #dd912b;
    border-radius: 3px;  
}
#menu .main-menu{
    width: 80%;
    margin: auto;
 
}
.main-menu h2{
    padding-bottom: 190px;
}
.main-menu h3{
    padding: 19px;
}
.main-menu .cards{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(260PX,1fr));
    gap: 140PX;
}
.HOT{
    padding: 40px;
} 
@media screen and (max-width:490px){
    #menu{
        padding: 20px 0;
        margin-top: 20px;
        width: 180%;
        }
        .main-menu h2{
            font-size: 50px;
        }
        .main-menu .cards{
            margin-top: -100px;
            display: grid;
            grid-template-columns: repeat(auto-fit,minmax(260PX,1fr));
            gap: 30PX;
            margin-left: 320px;
            margin-right: 10px;
        
        }
    

}
@media screen and (max-width: 350px) { 
    #menu{
        padding: 20px 0;
        margin-top: 20px;
        width: 180%;
        }
        .main-menu h2{
            font-size: 45px;
        }
        .main-menu .cards{
            margin-top: -100px;
            display: grid;
            grid-template-columns: repeat(auto-fit,minmax(260PX,1fr));
            gap: 30PX;
            margin-left: 320px;
            margin-right: 10px;
        
        }
    }
    @media screen and (max-width:1024px) {
        #menu .under{
            border-bottom: 6px solid #dd912b;
            border-radius: 3px;  
        }
        #menu{
            padding: 20px 0;
            margin-top: 90px;
            width: 290%;
            }
            .main-menu h2{
                font-size: 95px;
            }
            .main-menu .cards{
                margin-top: 100px;
                display: grid;
                grid-template-columns: repeat(auto-fit,minmax(60px,2fr));
                gap: 900px;
                margin-left: 320px;
                margin-right:30px;
            }
    }