*{
    padding: 0;
    margin:0 ;
    box-sizing: border-box;
    font-family: sans-serif;

}
:root{
    --bg-color:#fee7c5;
    --primary:#ff912b;
    --duu:#857023;
    --secondary:#2f2105;
    --accents:#f9d9aa;
    --light:#7e7d7a;

}
#popular{
    width: 80%;
    margin: auto;
    padding-top: 160px;
    position: relative;
    bottom: 280px;
}
.bg-pop{
    margin-top: 120px;
}
.cards{
    display: flex;
    padding-bottom: 160px;
}
#popular h2{
    padding: 0 20px 20px;
}
 
.SS{
    border-bottom: 3px solid #dd912b;
    border-radius: 3px;
    
}
 
.card{
    display: flex;

}
.card{
    width: 350px;
    height: 380px;
    padding: 15px;
    margin-top: -120px;
    margin-left: 30px;
    background-color: #FFF;
    border: 5px solid #f3eae1;
    border-radius: 10px;
    box-shadow: 2px  6px 20px 0px #8b8782;
    z-index: 1;
}
.card div:nth-child(1) img{
    border-radius: 10px;

}
.card div:nth-child(1) h3{
    font-size: 15px;
    padding: 3px 10px;
    background-color: #fff;
    border: 5px solid #ede0e0;
    border-radius: 30px;
    position: absolute;
    top: -94px;
    left: 55px;
}
.L{
    font-size: 15px;
    padding: 3px 10px;
    background-color: #fff;
    border: 5px solid #ede0e0;
    border-radius: 30px;
    position: absolute;
    top: -94px;
    margin-left: 760px;
}
.M{
    font-size: 15px;
    padding: 3px 10px;
    background-color: #fff;
    border: 5px solid #ede0e0;
    border-radius: 30px;
    position: absolute;
    top: -94px;
    margin-left: 380px;
}
.card div:nth-child(1) h3 img{
   width: 15px;
}
.card div:nth-child(2){
    margin: 280px -300px ;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.K{
    margin: 280px -280px ;
}
.card div:nth-child(3){
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.card div:nth-child(3) a{
   text-decoration: none;
   font-weight: 400;
   padding: 10px;
   margin: 5px;
   color: #faca64;
   border: 1px solid #faca64;
   border-radius: 10px;
}
.card div:nth-child(3) a:hover{
    padding: 10px;
    color: #ff912b;
    border: 1px solid #ff912b;
    border-radius: 10px;
}                                        
.card div:nth-child(3) a.hot-active{
     color: #ff912b;
     border: 1px solid #ff912b;
}
.HOT{
    margin-bottom: -310px;
    margin-left: 280px;
}
.card div:nth-child(3) img{
  width: 35px;
  padding: 10px;
  margin: 0 0 -5px 10px;
  background-color: var(--primary);
  border-radius: 50%;
  cursor: pointer;
}
#popular .bg-pop{
    width: 1200px;
    height: 340px;
    background-color: #eac081;
   border-radius: 30px;
   position: absolute;
   top: 220px;
   left: -50px;
}
@media screen and (max-width: 768px) {
    #popular{
        width: 80%;
        margin-top: 40px;
        padding-top: 160px;
        position: relative;
        bottom: 280px;
    }
    #popular h2{
        font-size: 20px;
    }
    .cards{
        display:block;
    }
    .card{
        width: 250px;
        height: 380px;
        padding: 15px;
        margin-top: 40px;
        margin-left: 15px;
        background-color: #FFF;
        border: 5px solid #f3eae1;
        border-radius: 10px;
        box-shadow: 2px  6px 20px 0px #8b8782;
        z-index: 1;  
    }
    .card div:nth-child(1) img{
        border-radius: 10px;
        width: 200px;
    }
    
    #popular .bg-pop{
        width: 280px;
        height: 1308px;
        background-color: #eac081;
        border-radius: 30px;
        position: absolute;
        top: 100px;
        margin-left:63px;
       
    }
    .card div:nth-child(1) h3{
        font-size: 15px;
        padding: 3px 3px;
        background-color: #fff;
        border: 5px solid #ede0e0;
        border-radius: 30px;
        position: absolute;
        top:70px;
        left: 35px;
    }
    .L{
        font-size: 15px;
        padding: 3px 10px;
        background-color: #fff;
        border: 5px solid #ede0e0;
        border-radius: 30px;
        position: absolute;
        margin-top: 414px;
        margin-left:3px;
    }
    .M{
        font-size: 15px;
        padding: 3px 10px;
        background-color: #fff;
        border: 5px solid #ede0e0;
        border-radius: 30px;
        position: absolute;
        margin-top: 860px;
        margin-left:3px;
    }
    .card div:nth-child(2){
        margin: 280px -200px ;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .HOT{
        margin-bottom: -310px;
        margin-left: 145px;
    }
    .K{
        margin: 280px -210px ;
    }  
}
@media screen and (max-width: 350px) { 
    #popular{
        width: 80%;
        margin-top: 40px;
        padding-top: 160px;
        position: relative;
        bottom: 280px;
    }
    #popular h2{
        font-size: 20px;
    }
    .cards{
        display:block;
    }
    .card{
        width: 250px;
        height: 380px;
        padding: 15px;
        margin-top: 40px;
        margin-left: 15px;
        background-color: #FFF;
        border: 5px solid #f3eae1;
        border-radius: 10px;
        box-shadow: 2px  6px 20px 0px #8b8782;
        z-index: 1;  
    }
    .card div:nth-child(1) img{
        border-radius: 10px;
        width: 200px;
    }
    
    #popular .bg-pop{
        width: 280px;
        height: 1308px;
        background-color: #eac081;
        border-radius: 30px;
        position: absolute;
        top: 100px;
        margin-left:43px;
       
    }
    .card div:nth-child(1) h3{
        font-size: 15px;
        padding: 3px 3px;
        background-color: #fff;
        border: 5px solid #ede0e0;
        border-radius: 30px;
        position: absolute;
        top:70px;
        left: 35px;
    }
    .L{
        font-size: 15px;
        padding: 3px 10px;
        background-color: #fff;
        border: 5px solid #ede0e0;
        border-radius: 30px;
        position: absolute;
        margin-top: 414px;
        margin-left:3px;
    }
    .M{
        font-size: 15px;
        padding: 3px 10px;
        background-color: #fff;
        border: 5px solid #ede0e0;
        border-radius: 30px;
        position: absolute;
        margin-top: 830px;
        margin-left:3px;
    }
    .card div:nth-child(2){
        margin: 280px -200px ;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .HOT{
        margin-bottom: -310px;
        margin-left: 145px;
    }
    .K{
        margin: 280px -210px ;
    }
}
 